/* [project]/app/geistsans_9fc57718.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_9fc57718-module__E7HqPG__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_9fc57718-module__E7HqPG__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/app/geistsans_9fc57718.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_9fc57718-module__E7HqPG__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_9fc57718-module__E7HqPG__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/app/geistmono_b9f59162.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_b9f59162-module__dmiviG__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_b9f59162-module__dmiviG__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/app/geistmono_b9f59162.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_b9f59162-module__dmiviG__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_b9f59162-module__dmiviG__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-\[1164px\] {
  left: 1164px;
}

.top-\[198px\] {
  top: 198px;
}

.top-\[\] {
  top: ;
}

.top-\[730px\] {
  top: 730px;
}

.left-\[176px\] {
  left: 176px;
}

.top-\[130px\] {
  top: 130px;
}

.top-\[30px\] {
  top: 30px;
}

.top-\[530px\] {
  top: 530px;
}

.top-\[630px\] {
  top: 630px;
}

.top-\[0px\] {
  top: 0;
}

.top-\[700px\] {
  top: 700px;
}

.top-\[px\] {
  top: px;
}

.top-\[650px\] {
  top: 650px;
}

.left-\[17px\] {
  left: 17px;
}

.left-\[170px\] {
  left: 170px;
}

.left-\[150px\] {
  left: 150px;
}

.left-\[100px\] {
  left: 100px;
}

.left-\[90px\] {
  left: 90px;
}

.left-\[50px\] {
  left: 50px;
}

.left-\[\] {
  left: ;
}

.top-\[20px\] {
  top: 20px;
}

.left-\[36px\] {
  left: 36px;
}

.left-\[1\] {
  left: 1px;
}

.left-\[10px\] {
  left: 10px;
}

.top-\[31\] {
  top: 31px;
}

.top-\[316px\] {
  top: 316px;
}

.left-\[176px31\] {
  left: 176px31;
}

.left-\[17\] {
  left: 17px;
}

.top-\[316\] {
  top: 316px;
}

.top-\[573px\] {
  top: 573px;
}

.left-\[171px\] {
  left: 171px;
}

.left-\[176pxx\] {
  left: 176pxx;
}

.left-\[7\] {
  left: 7px;
}

.left-\[76px\] {
  left: 76px;
}

.left-\[1px\] {
  left: 1px;
}

.left-\[174px\] {
  left: 174px;
}

.m-12 {
  margin: 3rem;
}

.m-10 {
  margin: 2.5rem;
}

.m-4 {
  margin: 1rem;
}

.m-auto {
  margin: auto;
}

.m-2 {
  margin: .5rem;
}

.flex {
  display: flex;
}

.h-\[134px\] {
  height: 134px;
}

.h-\[58px\] {
  height: 58px;
}

.h-\[80\%\] {
  height: 80%;
}

.h-screen {
  height: 100vh;
}

.h-\[0\%\] {
  height: 0%;
}

.h-\[60\%\] {
  height: 60%;
}

.h-\[100\%\] {
  height: 100%;
}

.h-auto {
  height: auto;
}

.w-1\/2 {
  width: 50%;
}

.w-\[288px\] {
  width: 288px;
}

.w-\[496px\] {
  width: 496px;
}

.w-\[902px\] {
  width: 902px;
}

.w-\[9px\] {
  width: 9px;
}

.w-\[90px\] {
  width: 90px;
}

.w-40 {
  width: 10rem;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[50\%\] {
  width: 50%;
}

.w-full {
  width: 100%;
}

.max-w-\[462px\] {
  max-width: 462px;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-2 {
  gap: .5rem;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.bg-\[\#A29875\] {
  --tw-bg-opacity: 1;
  background-color: rgb(162 152 117 / var(--tw-bg-opacity));
}

.p-\[10px\] {
  padding: 10px;
}

.p-10 {
  padding: 2.5rem;
}

.text-right {
  text-align: right;
}

.font-\[\] {
  font-family: ;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[75px\] {
  font-size: 75px;
}

.text-\[0px\] {
  font-size: 0;
}

.font-bold {
  font-weight: 700;
}

.font-\[700\] {
  font-weight: 700;
}

.font-\[700px\] {
  font-weight: 700px;
}

.font-\[7\\00\] {
  font-weight: 7�;
}

.font-\[500\] {
  font-weight: 500;
}

.font-medium {
  font-weight: 500;
}

.leading-\[\] {
  line-height: ;
}

.leading-\[37\.\] {
  line-height: 37. ;
}

.leading-\[37\.5\] {
  line-height: 37.5;
}

.leading-\[37\.5px\] {
  line-height: 37.5px;
}

.leading-\[49\.35px\] {
  line-height: 49.35px;
}

.leading-\[px\] {
  line-height: px;
}

.leading-\[65\.8px\] {
  line-height: 65.8px;
}

.leading-\[50\] {
  line-height: 50;
}

.leading-\[50px\] {
  line-height: 50px;
}

.tracking-\[2\.5\%\] {
  letter-spacing: 2.5%;
}

.tracking-\[\] {
  letter-spacing: ;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\] {
  color: ;
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#787054\] {
  --tw-text-opacity: 1;
  color: rgb(120 112 84 / var(--tw-text-opacity));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width >= 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
}


/*# sourceMappingURL=app_d0d911._.css.map*/
